*, *::before, *::after {
  box-sizing: border-box;
}

body {
  font-family: Helvetica, Arial, "PingFang TC", sans-serif;
  line-height: 1.5;
  
}

p {
  margin-bottom: 24px;
}

.navbar__link {
  font-weight: 900;
  font-size: 16px;
}

.news {
  @include mobile {
    flex-direction: column;
  }
  &__section {
    border: 2px solid;
    padding: 10px;
    width: 75%;
    @include mobile {
      width: 100%;
      margin-bottom: 20px;
    }
  }
  &__banner {
    width: 20%;
    border: 2px solid;
    padding: 5px;
    flex-direction: column;
    align-items: center;
    img {
      margin-bottom: 10px;
    }
    @include mobile {
      width: 100%;
      
    }
  }

}
